/* Box sizing rules */
*
*::before
*::after {
    box-sizing: border-box;
}

/* Remove all padding, margins, and font styling */
* {
    margin: 0px;
    padding: 0px;
    font: inherit;
    font-family: Verdana; sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


body {
    display: flex;
    flex-direction: column;
}


section {
    padding: 100px 200px 100px 200px;
}

p {
    font-size: 16px;
}

.header,
.hero {
    background-color: #001D4A;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    height: 100%;
}



.header > .logo {
    margin-right: auto;
}

.container > p,
.header > a,
.header > a:visited {
    font-size: 18px;
}

.header {
    padding-top: 50px;
    padding-bottom: 0px;
}

.header > a,
.header > a:visited {
    color: #F0F7F4;    
    font-weight: 900;
}

.contact-me {
    background: white;
    border-color: white;
    border-radius: 15px;
    padding: 10px 35px 10px 35px;
    font-size: 15px;
    font-weight: bolder;
}

.hero {
    justify-content: space-between;
    color: #F0F7F4;
}

.container-one {
    flex-basis: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-one button {
    align-self: flex-start;
}

.container-two {
    flex-basis: 640px;
}


.cards {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.card-section {
    display: inherit;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 25px;
    padding-left: 100px;
    padding-right: 100px;    
}

.card {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    max-width: 15%;

}

.card img {
    border: solid #001D4A;
    border-radius: 25px;
    display: block;
    width: 100%;
    height: auto;
}

.card p {
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    padding-left: 400px;
    padding-right: 400px;    
}

#quote {
    font-style: italic;
    color: #1f2937;
    font-size: 25px;
}

#ref {
    text-align: right;
    font-weight: bold;q
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

h1 {
    font-size: 48px;
}


.logo {
    width: 50px;
    height: auto;
}

.cta {
    background-color: #3882F6;
    border: solid #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    gap: 50px;
    padding: 50px;
}

.action-container > h3 {
    font-size: 22px;
    font-weight: bold;
}

.sign-up {
    background-color: #3882F6;
    border: solid white;
    border-radius: 15px;
    padding: 5px 45px 5px 45px;
    color: white;
    font-weight: bold;
    min-width: 25%;
}

.footer {
    background-color: #001D4A;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}