* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, 'Times New Roman',  sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

section {
    padding: 50px 200px 50px 200px;
}

.header,
.hero {
    background-color: #001D4A;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}


.header > .logo {
    margin-right: auto;
}

.container > p,
.header > a,
.header > a:visited {
    font-size: 18px;
}

.header > a,
.header > a:visited {
    color: #F0F7F4;    
    font-weight: 900;
}

.contact-me {
    background: white;
    border-color: white;
    border-radius: 20px;
    padding: 10px 35px 10px 35px;
    font-size: 15px;
    font-weight: bolder;
}

.hero {
    justify-content: space-between;
    color: #F0F7F4;
}

.container-one {
    flex-basis: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-one button {
    align-self: flex-start;
}

.container-two {
    flex-basis: 640px;
}

.cards {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.card-section {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-left: 100px;
    padding-right: 100px;    
}

.card {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    max-width: 15%;

}

.card img {
    border: solid #001D4A;
    border-radius: 25px;
}

.card p {
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    padding-left: 400px;
    padding-right: 400px;    
}

#quote {
    font-style: italic;
    color: #1f2937;
}

#ref {
    text-align: right;
    font-weight: bold;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

h1 {
    font-size: 48px;
}


.logo {
    width: 50px;
    height: auto;
}